{% extends "base.html" %}

{% block title %}
  Homepage | ToDo
{% endblock %}

{% block content %}
  <section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      {% if not todos %}
        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Currently, there aren't any ToDo's.</h2>
      {% else %}
        <ul>
          {% for todo in todos %}
            <li class="md:flex-grow">
              <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">{{ todo.title }}</h2>
              <p class="leading-relaxed">{{ todo.description|truncatewords:15 }}</p>
              <p class="leading-relaxed">{{ todo.creation_date|date:"j.M.Y" }}</p>
              <a class="text-indigo-500 inline-flex items-center mt-4">Learn More
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </section>
{% endblock %}
