name: Linters

on:
  pull_request:
    branches: [ "main", "dev" ]
  push:
    branches: [ "*" ]

jobs:
  flake8:
    name: flake8
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: '3.11'
    - name: Install flake8
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Analysing the code with flake8
      run: |
        flake8

  isort:
    name: isort
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install isort
        run: |
          python -m pip install isort
          python -m pip install --upgrade pip
      - name: isort
        uses: isort/isort-action@master
        with:
          requirements-files: "requirements.txt"

  black:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: '3.11'
      - name: black
        uses: psf/black@stable
